.container:after,.container:before,{content:"";display:table;clear:both}
.container{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.bar-item{text-align:center}.w3-block{display:block;width:100%}
.bar-item.{text-align:center}
.button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
